build>=1.0.3
pydantic>=2.5.2
pyyaml>=6.0.1
urllib3>=2.1.0
requests>=2.31.0
ruff>=0.1.7
twine>=4.0.2

# This requirement for local development does not match what is in
# ./nextmv/model.py in the _MLFLOW_DEPENDENCY variable. This is because at the
# time of introducing support for mlflow, the latest version was 2.18.0 (as
# indicated in that variable). However, that version dropped support for Python
# 3.8. At the time of writing this, we are still supporting Python 3.8, so for
# local development we need an older version of mlflow.
mlflow>=2.17.2

# We need nextroute for the `test_entrypoint`, where we are testing that an
# mlflow model can be run using the __entrypoint__.py file as a main.py script.
nextroute>=1.10.1
