name: publish

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  publish:
    runs-on: ubuntu-latest
    env:
      VERSION: ""
    steps:
      - name: get version from tag
        run: |
          VERSION=${{ github.ref_name }}
          echo "Version = $VERSION"
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: git clone develop
        uses: actions/checkout@v4
        with:
          ref: develop

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: install dependencies
        run: |
          pip install --upgrade pip
          pip install build twine hatch

      - name: upgrade version with hatch
        run: hatch version ${{ env.VERSION }}

      - name: build binary wheel and source tarball
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: |
          python -m build

      - name: publish to TestPyPI
        env:
          TWINE_USERNAME: ${{ secrets.TESTPYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.TESTPYPI_PASSWORD }}
        run: twine upload --repository testpypi dist/*

      - name: publish to PyPI
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: twine upload dist/*

      - name: commit new version
        run: |
          git config --global user.name "Nextmv Bot"
          git config --global user.email "bot@nextmv.io"
          git add nextmv/__about__.py
          git commit -m "Bump version to $VERSION"
          git push
