name: publish

on:
  workflow_dispatch:
    inputs:
      VERSION:
        description: "The version to release"
        required: true
      IS_PRE_RELEASE:
        description: "Whether this is a pre-release"
        required: true
        default: false
        type: boolean

permissions:
  contents: write

jobs:
  publish:
    runs-on: ubuntu-latest
    env:
      VERSION: ${{ inputs.VERSION }}
      GH_TOKEN: ${{ github.token }}
    steps:
      - name: git clone develop
        uses: actions/checkout@v4
        with:
          ref: develop

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: install dependencies
        run: |
          pip install --upgrade pip
          pip install build twine hatch

      - name: upgrade version with hatch
        run: hatch version ${{ env.VERSION }}

      - name: build binary wheel and source tarball
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: |
          python -m build

      - name: publish to TestPyPI
        env:
          TWINE_USERNAME: ${{ secrets.TESTPYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.TESTPYPI_PASSWORD }}
        run: twine upload --repository testpypi dist/*

      - name: publish to PyPI
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: twine upload dist/*

      - name: configure git with the bot credentials
        env:
          SSH_AUTH_SOCK: /tmp/ssh_agent.sock
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan github.com >> ~/.ssh/known_hosts
          ssh-agent -a $SSH_AUTH_SOCK > /dev/null
          ssh-add - <<< "${{ secrets.NEXTMVBOT_SSH_KEY }}"

          echo "${{ secrets.NEXTMVBOT_SIGNING_KEY }}" > ~/.ssh/signing.key
          chmod 600 ~/.ssh/signing.key

          git config --global user.name "nextmv-bot"
          git config --global user.email "tech+gh-nextmv-bot@nextmv.io"
          git config --global url."git@github.com:".insteadOf "https://github.com/"
          git config --global gpg.format ssh
          git config --global user.signingkey ~/.ssh/signing.key

      - name: commit new version
        run: |
          git add nextmv/__about__.py
          git commit -S -m "Bump version to $VERSION"
          git push
          git tag $VERSION
          git push origin $VERSION

      - name: create release
        run: |
          PRERELEASE_FLAG=""
          if [ ${{ inputs.IS_PRE_RELEASE }} = true ]; then
            PRERELEASE_FLAG="--prerelease"
          fi

          gh release create -R nextmv-io/nextmv-py $VERSION \
          --verify-tag \
          --generate-notes \
          --title $VERSION $PRERELEASE_FLAG
